
@using Bogota_Robotics_Company.Models
@model ProfileViewModel
@{
    ViewData["Title"] = "Staff";
}

<h1>Starff</h1>
<h3>Our team is great, we have an amazing group of engineers with a great variaty of skills that allow us to achive awesome projects</h3>
<!-- Card deck -->
<div class="card-deck">
    @foreach (var p in Model.Profiles)
    {
        <div class="card mb-4 box-shadow">

            <!--Card image-->
            <div class="view overlay">
                <img class="card-img-top" src="https://media.licdn.com/dms/image/C4E03AQH4ENA8XkwXdQ/profile-displayphoto-shrink_200_200/0?e=1559779200&v=beta&t=KMLlb_QK-DccG7U9nsAXecxrdqrw766RvihsMBb-yDk" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--Card content-->
            <div class="card-body">

                <!--Title-->
                <h4 class="card-title">@p.Name</h4>
                <hr />
                <h5 style="margin-top:15px; margin-bottom:15px" class="card-subtitle font-weight-bold">@p.Occupation</h5>
                <!--Text-->
                <p style="text-align:justify" class="card-text">@p.Description</p>
                <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                <div class="container-fluid" style="position:absolute; bottom:5px; text-align:center">
                    <a style="color:steelblue" href="@p.Linkedin"><i class="fab fa-linkedin fa-3x"></i></a>
                    <a style="color:dodgerblue" href="@p.Twitter"><i class="fab fa-twitter fa-3x"></i></a>
                    <a style="color:darkblue" href="@p.Facebook"><i class="fab fa-facebook fa-3x"></i></a>
                    <a style="color:black" href="@p.Instagram"><i class="fab fa-instagram fa-3x"></i></a>
                </div>
            </div>

        </div>
    }
</div>
<!-- Card deck -->
